body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  font-family: sans-serif;
  color:#c5c5c5;
}

a {
  font-size:4vmax;
  display: block;
  padding: 16px;
  text-align: center;
  color:#c5c5c5;
}

.table {
  background-color: #383838;
  color: #c5c5c5;
  padding: .2em;
  margin: .4em;
  border: none;
  font-family: monospace;
  font-size: 9vmin;
}

.time {
  font-size:.25em;
  text-align: right;
  min-height: 1em;
}

@keyframes alarm-color {
  0% { background-color: green; }
  33% { background-color: yellow; }
  66% { background-color: orange; }
  100% { background-color: red; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ready {
  animation-name: alarm-color, spin;
  animation-duration: 240s, 1s;
  animation-timing-function: linear;
  animation-delay: 0s, 300s;
  animation-iteration-count: 1, infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.row:nth-child(2)>.table,
.row:nth-child(3)>.table {
  transform: rotate(45deg);
}

#room {
  display: flex;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (orientation: portrait) {
  #room {
    flex-flow: row nowrap;
  }

  .row {
    flex-direction: column-reverse;
  }

  .row:first-child>input,
  .row:last-child>input {
    padding: .2em .6em;
  }
}

@media screen and (orientation: landscape) {
  #room {
    flex-flow: column nowrap;
  }

  .row {
    flex-flow: row nowrap;
  }

  .row:first-child>input,
  .row:last-child>input {
    padding: .6em .2em;
  }
}
